---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "",
    description: "Astro on Facebook",
    icon: "fa-brands:facebook",
  },
  {
    url: "",
    description: "Astro on LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="flex justify-center ...">
    {
      links.map((link) => (
        <div class="pl-2 pr-2">
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </div>
      ))
    }
  </div>
</footer>
