---
import { Picture } from "@astrojs/image/components";
import logoImage from "~/assets/logo.png";
import SplashAnimation from "./splash-animation.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <div class="flex justify-center h-full place-items-center">
    <SplashAnimation></SplashAnimation>
    <div style="z-index: 1000; height: 100%" class="absolute md:relative">
      <Picture
        src={logoImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
</section>
